{% extends "base.html" %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block stylesheet %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}" />
{% endblock stylesheet %}

{% block content %}
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100 pt-5 pe-5" src="static/img/childplay.jpeg" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <img src="static/img/PlayPal.png" alt="PlayPal isotype" class="img-fluid">
                    <img src="static/img/logo-icon-playpal.png" alt="PlayPal logotype" class="img-fluid" style="width:20%; height:auto;">

                    <div class="h-100">
                        <h1 class="display-6 mb-5">Where Connections Transform into Playdates!</h1>
                        <p class="mb-5">Playpal is not just another web application; it's a vibrant community designed to bring parents together for the joy of their children. Our platform makes it easy and fun to connect with other parents in your area, fostering meaningful relationships that extend beyond the digital realm.</p>
                        {% comment %} <a class="btn btn-primary py-2 px-3 me-3" href="">
                            Learn More
                            <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                        <a class="btn btn-outline-primary py-2 px-3" href="">
                            Contact Us
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>{% endcomment %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-6 mb-5">Learn More About What We Do</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <h4 class="mb-3">Connect with Like-minded parents</h4>
                        <p class="mb-4">Discover a network of parents who share similar interests, parenting styles, and scheduling preferences. Playpal's intuitive matching algorithm ensures that you connect with families who align with your values, creating the perfect environment for lasting connections.</p>
                        {% comment %} <a class="btn btn-outline-primary px-3" href="">
                            Learn More
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a> {% endcomment %}
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <h4 class="mb-3">Effortless Playdate Planning</h4>
                        <p class="mb-4">Say goodbye to the hassle of coordinating playdates through multiple channels. Playpal streamlines the process, allowing you to schedule, coordinate, and confirm playdates with just a few clicks. It's the modern solution to making sure your child has a fantastic time with friends while giving you the chance to build your own community.</p>
                        {% comment %} <a class="btn btn-outline-primary px-3" href="">
                            Learn More
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a> {% endcomment %}
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <h4 class="mb-3">Join PlayPal today!</h4>
                        <p class="mb-4">Embark on a journey of connection, laughter, and shared experiences. Sign up for Playpal today and let the adventures begin!
                        Ready to make parenting even more delightful? Join Playpal now!</p>
                        <a class="btn btn-outline-success px-3" href="{% url 'user_registration'%}">
                            Register
                            <div class="d-inline-flex btn-sm-square bg-success text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-6 mb-5">Meet Our Team</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="team-text bg-light text-center p-4">
                            <h5>Jose Escauriza</h5>
                            <p class="text-primary">Product Owner</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href="https://github.com/JoseEscauriza"><i class="fab fa-github"></i></a>
                                <a class="btn btn-square" href="https://www.linkedin.com/in/jose-escauriza/"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="team-text bg-light text-center p-4">
                            <h5>Sophie Keesing</h5>
                            <p class="text-primary">Scrum Master</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href="https://github.com/sophkees1"><i class="fab fa-github"></i></a>
                                <a class="btn btn-square" href="https://www.linkedin.com/in/sophie-kaitlin-k-53394a288/"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="team-text bg-light text-center p-4">
                            <h5>Timo Gronau</h5>
                            <p class="text-primary">Backend Developer</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href="https://github.com/TimoGronau"><i class="fab fa-github"></i></a>
                                <a class="btn btn-square" href="https://www.linkedin.com/in/timo-gronau-360079275/"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="team-text bg-light text-center p-4">
                            <h5>Bogdan Bilan</h5>
                            <p class="text-primary">Backend Developer</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href="https://github.com/bobilan"><i class="fab fa-github"></i></a>
                                <a class="btn btn-square" href="https://www.linkedin.com/in/bogdan-bilan/"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <img src="static/img/PlayPal.png" alt="PlayPal isotype" class="img-fluid" style="width:80%">
                    <p>Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square me-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square me-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square me-1" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Address</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>123 Street, Berlin, Deutschland</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Quick Links</h5>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Terms & Conditions</a>
                    <a class="btn btn-link" href="">Support</a>
                </div>
                <!-- <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Newsletter</h5>
                    <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="container-fluid copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a href="#">PlayPal</a>, All Right Reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    {% comment %} <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a> {% endcomment %}

    {% block javascript %}
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock javascript %}
</body>
{% endblock content %}










