{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} PlayPal Application {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    {% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% endblock %}

    {% block javascript %}
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}

</head>
<body>
    <main>
        {% block content %}

        {% endblock %}

    </main>


    <!-- Footer -->
<!--<div-->
<!--    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-dark">-->
<!--    &lt;!&ndash; Copyright &ndash;&gt;-->
<!--    <div class="text-white mb-3 mb-md-0">-->
<!--      Copyright © 2023. PlayPal. All rights reserved.-->
<!--    </div>-->
<!--    &lt;!&ndash; Copyright &ndash;&gt;-->

<!--    &lt;!&ndash; Right &ndash;&gt;-->
<!--    <div>-->
<!--      <a href="#!" class="text-white me-4">-->
<!--        <i class="fab fa-facebook-f"></i>-->
<!--      </a>-->
<!--      <a href="#!" class="text-white me-4">-->
<!--        <i class="fab fa-twitter"></i>-->
<!--      </a>-->
<!--      <a href="#!" class="text-white me-4">-->
<!--        <i class="fab fa-google"></i>-->
<!--      </a>-->
<!--      <a href="#!" class="text-white">-->
<!--        <i class="fab fa-linkedin-in"></i>-->
<!--      </a>-->
<!--    </div>-->
<!--    &lt;!&ndash; Right &ndash;&gt;-->
<!--  </div>-->

</body>
</html>