{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} PlayPal Application {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>

    {% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'uikit/styles/uikit.css' %}" />
    {% endblock %}

    {% block javascript %}
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}

</head>
<body>
<main>
    {% block content %}

    {% endblock %}

</main>

</body>
{% block script %}

{% endblock script%}
</html>