{% extends "base.html" %} {% load static %}

{% block title %} Login {% endblock title %}

{% block stylesheet %} {{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
{% endblock stylesheet %}

{% block content %}

<h3 class="text-center mt-4" >You are logged in successfully!</h3>

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <div class="text-center text-lg-start mt-4 pt-2">
            <button  id="logout-button" type="submit" class="btn btn-primary btn-lg">Logout</button>

          </div>

</form>

{% endblock content %}

