{% extends "base.html" %} {% load static %}

{% block title %} Registration {% endblock title %}

{% block stylesheet %} {{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
{% endblock stylesheet %}

{% block content %}

<section class="vh-200 my-5">
    <div class="container-fluid h-custom">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <form method="POST" action="{% url 'user-registration' %}">

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="form3Example3" class="form-control form-control-lg"
                               placeholder="Enter email" name="email"/>
                        <label class="form-label" for="form3Example3">Email </label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="form3Example4" class="form-control form-control-lg"
                               placeholder="Enter password" name="password"/>
                        <label class="form-label" for="form3Example4">Password</label>
                    </div>

                    <button type="submit" class="btn btn-success btn-lg">Submit</button>

            </form>
        </div>
    </div>
</section>

{% endblock content %}