{% extends "base.html" %} {% load static %}

{% block title %} Swiping {% endblock title %}

{% block stylesheet %} {{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofVfLNXMRFFZjzA" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/solid.css"
      integrity="sha384-Tv5i09RULyHKMwX0E8wJUqSOaXlyu3SQxORObAI08iUwIalMmN5L6AvlPX2LMoSE" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css"
      integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous"/>
{% endblock stylesheet %}

{% block content %}

<div class="wrapper">
    <div class="d-md-flex align-items-md-center">
        <div class="h3">Find a PlayPal</div>
    </div>
    <div class="d-sm-flex align-items-sm-center pt-2 clear">
        <div class="text-muted filter-label">Applied Filters:</div>
        <div class="green-label font-weight-bold p-0 px-1 mx-sm-1 mx-0 my-sm-0 my-2">Selected Filtre <span
                class=" px-1 close">&times;</span></div>
        <div class="green-label font-weight-bold p-0 px-1 mx-sm-1 mx-0">Selected Filtre <span class=" px-1 close">&times;</span>
        </div>
    </div>
    <div class="filters">
        <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#mobile-filter"
                aria-expanded="true" aria-controls="mobile-filter">Filter<span class="px-1 fas fa-filter"></span>
        </button>
    </div>
    {% comment %} <div id="mobile-filter"> <!-- Mobile section-->
        <div class="py-3"> MOBILE VERSION???
            <h5 class="font-weight-bold">Brands</h5>
            <form class="brand">
                <div class="form-inline d-flex align-items-center py-1"><label class="tick">Royal Fields <input
                        type="checkbox"> <span class="check"></span> </label></div>
                <div class="form-inline d-flex align-items-center py-1"><label class="tick">Crasmas Fields <input
                        type="checkbox" checked> <span class="check"></span> </label></div>
                <div class="form-inline d-flex align-items-center py-1"><label class="tick">Vegetarisma Farm <input
                        type="checkbox" checked> <span class="check"></span> </label></div>
                <div class="form-inline d-flex align-items-center py-1"><label class="tick">Farmar Field Eve <input
                        type="checkbox"> <span class="check"></span> </label></div>
                <div class="form-inline d-flex align-items-center py-1"><label class="tick">True Farmar Steve <input
                        type="checkbox"> <span class="check"></span> </label></div>
            </form>
        </div>
        <div class="py-3">
            <h5 class="font-weight-bold">Rating</h5>
            <form class="rating">
                <div class="form-inline d-flex align-items-center py-2"><label class="tick"><span
                        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span> <span class="fas fa-star"></span> <input type="checkbox"> <span
                            class="check"></span> </label></div>
                <div class="form-inline d-flex align-items-center py-2"><label class="tick"> <span
                        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <input
                            type="checkbox"> <span class="check"></span> </label></div>
                <div class="form-inline d-flex align-items-center py-2"><label class="tick"><span
                        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span>
                    <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span>
                    <input type="checkbox"> <span class="check"></span> </label></div>
                <div class="form-inline d-flex align-items-center py-2"><label class="tick"><span
                        class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                        class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span>
                    <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span
                            class="check"></span> </label></div>
                <div class="form-inline d-flex align-items-center py-2"><label class="tick"> <span
                        class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span
                        class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span>
                    <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span
                            class="check"></span> </label></div>
            </form>
        </div>
    </div> {% endcomment %}
    <div class="content py-md-0 py-3"> <!-- Web section-->
        <section id="sidebar">
            <div class="py-3">
                <h5 class="font-weight-bold">Preferences</h5>
                <form class="user-preferences">
                    <form class="bs-multi-range my-2 pb-2">
                        <label for="parent-min-age-range" class="form-label">Parent's minimum age</label>
                        <input id="parent-age" class="multi-range" type="range" min="18" max="70">
                    </form>

                    <form class="bs-multi-range my-2 pb-2">
                        <label for="parent-max-age-range" class="form-label">Parent's maximum age</label>
                        <input id="parent-age" class="multi-range" type="range" min="18" max="70">
                    </form>

                    <form class="bs-multi-range my-2 pb-2">
                        <label for="children-min-age-range" class="form-label">Child's minimum age</label>
                        <input id="child-age" class="multi-range" type="range" min="1" max="10">
                    </form>

                    <form class="bs-multi-range my-2 pb-2">
                        <label for="children-max-age-range" class="form-label">Child's maximum age</label>
                        <input id="child-age" class="multi-range" type="range" min="1" max="10">
                    </form>
                    
                    <form class=" my-2 pb-2">
                        {% for interest in interestlist %}
                    <div class="form-inline d-flex align-items-center py-2"><label class="tick">{{interest.interest_name}}<input
                            type="checkbox"> <span class="check"></span></label></div>
                        {% endfor %}
                    </form>
                </form>
            </div>
            <div class="py-3">
                <h5 class="font-weight-bold">Rating</h5>
                <form class="rating">
                    <div class="form-inline d-flex align-items-center py-2"><label class="tick"><span
                            class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                            class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                            class="fas fa-star"></span> <input type="checkbox"> <span class="check"></span> </label>
                    </div>
                    <div class="form-inline d-flex align-items-center py-2"><label class="tick"> <span
                            class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                            class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                            class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span
                            class="check"></span> </label></div>
                    <div class="form-inline d-flex align-items-center py-2"><label class="tick"><span
                            class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                            class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span
                            class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span
                            class="check"></span> </label></div>
                    <div class="form-inline d-flex align-items-center py-2"><label class="tick"><span
                            class="fas fa-star"></span> <span class="fas fa-star"></span> <span
                            class="far fa-star px-1 text-muted"></span> <span
                            class="far fa-star px-1 text-muted"></span> <span
                            class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span
                            class="check"></span> </label></div>
                    <div class="form-inline d-flex align-items-center py-2"><label class="tick"> <span
                            class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span
                            class="far fa-star px-1 text-muted"></span> <span
                            class="far fa-star px-1 text-muted"></span> <span
                            class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span
                            class="check"></span> </label></div>
                </form>
            </div>

        </section> <!-- User Profiles Section -->
        <section id="products">
            <div class="container py-3">
                <div class="row">

                    <!-- User Card -->
                    <div class="col-lg-5 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
                        <div class="card"><img class="card-img-top"
                                               src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Rectangular_green_flag.svg/1280px-Rectangular_green_flag.svg.png">

                            <div class="card-body">

                                <div class="d-flex align-items-center">
                                    <img src="https://img.icons8.com/bubbles/100/000000/user.png"
                                         class="float-left rounded-circle avatar">
                                    <h6 class="font-weight-bold pt-1 ">John Doe</h6>
                                    <!-- Location -->

                                    <div class="d-flex align-items-center ml-5">
                                        <img src="{% static 'images/icons8-location-48.png' %}"
                                             class="float-left rounded-circle location">
                                        <div class="font-weight-bold pt-1 h8-style ">Hagen</div>
                                    </div>
                                </div>

                                <div class="font-weight-bold pt-1 h7-style ">About me</div>
                                <div class="text-muted description">I'm a proud father of my son.
                                    Looking for playmates for him
                                </div>

                                <div class="d-flex align-items-center ml-5">
                                    <img src="{% static 'images/children_pic.png' %}" class="float-left  children">
                                    <div class="font-weight-bold pt-1 h9-style ">My Children</div>
                                </div>

                                <div class="font-weight-bold pt-1 h7-style ">John II, 9</div>
                                <div class="text-muted description">Emely is 9. She likes playing outside, and loves
                                    singing.
                                </div>

                                <!-- Child Picture -->
                                <div class="row mt-3">
                                    <div class="col-4">
                                        <img src="{% static 'images/pic1.png' %}" class="img-fluid">
                                    </div>
                                    <div class="col-4">
                                        <img src="{% static 'images/pic2.png' %}" class="img-fluid">
                                    </div>
                                    <div class="col-4">
                                        <img src="{% static 'images/pic3.png' %}" class="img-fluid">
                                    </div>
                                </div>

                                <!-- Like dislike buttons-->
                                <div class="tinder--buttons mt-5">
                                    <button id="nope1"><img src="{% static 'images/dislike.png' %}" alt="Remove">
                                    </button>
                                    <button id="love1"><img src="{% static 'images/like.png' %}"></button>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>


            </div>
    </div>
    </section>
</div>
</div>

{% endblock content %}