{% extends "base.html" %} {% load static %}

{% block title %} Swiping {% endblock title %}

{% block stylesheet %} {{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
{% endblock stylesheet %}

{% block content %}

{% comment %} {% for user in userlist %}

    <h1>{{ user.first_name }}</h1>
    <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp{% endif %}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
    <p>{{user.calculate_age}} - {{user.marital_status}}</p>
    <p>{{user.bio}}</p>
    {% endfor %} {% endcomment %}


    <div id="my carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

            <div class"carousel-item active sticky-top">
                <div class="container">
                    <h1>Find a PlayPal</h1>
                    <h2>{{first_name}} {{last_name}} </h2>
                    <img src="{% if avatar %}{{ avatar }}{% else %}https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp{% endif %}"
                        alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                    <p>{{bio}}</p>
                    <a href="#" class="btn btn-lg btn-success">Match</a>
                </div>
            </div>
            
            <div class"carousel-item sticky-top">
                <div class="container">
                    <h1>Find a PlayPal</h1>
                    <h2>{{first_name}} {{last_name}} </h2>
                    <img src="{% if avatar %}{{ avatar }}{% else %}https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp{% endif %}"
                        alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                    <p>{{bio}}</p>
                    <a href="#" class="btn btn-lg btn-success">Match</a>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}