{% extends "base.html" %} {% load static %}

{% block title %} Profile {% endblock title %}

{% block stylesheet %} {{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
{% endblock stylesheet %}

{% block content %}

<section style="background-color: #eee;" class="text-xxs">

    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="sticky-top" style="top: 30px">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <!-- if avatar is return it gets it, when not it shows predefined image src -->
                        <img src="{% if avatar %}{{ avatar }}{% else %}https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp{% endif %}"
                             alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">

                        <h5 class="my-3">{{ first_name|capfirst|default:'Your' }} {{ last_name|capfirst|default:'name' }}</h5>
                        <div class="d-flex justify-content-center">
                            <i class="fa-solid fa-location-dot pr-1"></i>
                            <p class="text-muted mb-4 pl-1"> {{ location }}</p>
                        </div>
                        <div class="d-flex justify-content-center mb-2">
                            <a href='{% url "edit_own_profile" %}'> 
                            <button type="button" class="btn btn-primary">Edit profile</button>
                            </a>
                            <button type="button" class="btn btn-outline-primary ms-1">Change Avatar</button>
                        </div>
                    </div>
                </div>

                <!-- Some infotags  section -->
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            {% if user.website %}
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-globe fa-lg text-warning"></i>
                                <p class="mb-0">
                                    <a href="{{ user.website }}" target="_blank" rel="noopener noreferrer" class="text-decoration-none">{{ user.website|slice:"40" }}</a>
                                </p>
                            </li>
                            {% endif %}
                            {% if user.instagram %}
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                <a href="{{ user.instagram }}" target="_blank" class="text-decoration-none" rel="noopener noreferrer">{{ user.instagram|slice:"40" }}</a>
                            </li>
                            {% endif %}
                            {% if user.github %}
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                <a href="{{ user.github }}" target="_blank" class="text-decoration-none" rel="noopener noreferrer">{{ user.github|slice:"40" }}</a>
                            </li>
                            {% endif %}
                            {% if user.twitter %}
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                <a href="{{ user.twitter }}" target="_blank" class="text-decoration-none" rel="noopener noreferrer">{{ user.twitter|slice:"40" }}</a>
                            </li>
                            {% endif %}
                            {% if not user.website and not user.instagram and not user.github and not user.twitter %}
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <p class="mb-0">Pretty empty here! Edit your profile to include links to your social media accounts!</p>
                            </li>
                            {% endif %}
                        </ul>                        
                    </div>
                </div>
            </div>

                <!-- My profile data section -->
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <h4 class="text-center mb-4">Profile Info</h4>
                            <div class="col-sm-3">
                                <p class="mb-0">First Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ first_name|capfirst|default:'Your first name' }}</p>
                            </div>
                        </div>
                        <hr class="my-2">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Last Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ last_name|capfirst|default:'Your last name' }}</p>
                            </div>
                        </div>
                        <hr class="my-2">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ email|default:'Your email' }}</p>
                            </div>
                        </div>
                        <hr class="my-2">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">City</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ location|default:'Your city' }} </p>
                            </div>
                        </div>
                        <hr class="my-2">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Marital status</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ marital_status|default:'Your status' }} </p>
                            </div>
                        </div>
                        <hr class="my-2">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Gender</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ gender|default:'Your gender' }} </p>
                            </div>
                        </div>

                        <hr class="my-2">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Bio</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ bio|default:'Your bio' }} </p>

                            </div>
                        </div>
                    </div>
                </div>

                {% for child in children_data %}

                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            {% if forloop.counter == 1%}
                            <h4 class="text-center mb-4">My children</h4>
                            {% endif %}

                            <div class="col-sm-3">
                                <h5 class="mb-0"> {{ child.first_name|default:'Kiddo'|capfirst }}</h5>
                            </div>
                        </div>

                        <hr class="my-2">
                        <div class="row"> 
                            <div class="col-sm-3">
                                <p class="mb-0">Age</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ child.age|default:'Your child age' }}</p>
                            </div>
                        </div>
                        <hr class="my-2">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Gender</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ child.gender|default:'Your child gender' }}</p>
                            </div>
                        </div>
                        <hr class="my-2">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Interests</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ child.interests|default:'Your child interests' }}</p>
                            </div>
                        </div>
                        <hr class="my-2">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Bio</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ child.bio|default:'Say something about your child' }}</p>
                            </div>
                        </div>
                        <hr class="my-2">

                        <!-- Child pictures-->

                        <div class="container">
                            <div class="row justify-content-evenly">
                                {% for image in child.child_images %}
                                <div class="col-md-3">
                                    <img src="{{ image }}" class="card-img-top img-fluid rounded" alt="{{ child.first_name }} img.">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                    </div>
                </div>


                {% endfor %}


            </div>


        </div>

    </div>
</section>

{% endblock content %}

